# Set default behavior to automatically normalize line endings
* text=auto

# Force code and text files to use LF line endings
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.env* text eol=lf
